.ingredient-container,
.ingredients-wrapper,
.ingredients-list {
  display: flex;
}

.ingredient-container,
.ingredients-wrapper {
  flex-direction: column;
}

.title {
  text-align: left;
}

.ingredients-list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
}

.ingredients-list {
  margin: 0;
  list-style: none;
}

.ingredients-wrapper {
  row-gap: 40px;
  max-height: calc(100vh - 330px);
  overflow: hidden;
  overflow-y: scroll;
  max-width: 600px;
}

.ingredients-wrapper::-webkit-scrollbar {
  width: 8px;
}

.ingredients-wrapper::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.ingredients-wrapper::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
